.popup {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  width: 75%;
  height: 75%;
  margin: auto;
  background: gray;
  padding: 50px;
  display: flex;
  flex-direction: column;
  align-content: center;
  justify-content: center;
}

.controls {
  display: flex;
  justify-content: right;
}

.controls > button {
  width: 2em;
  height: 2em;
  margin: 0.5em;
  text-align: center;
  vertical-align: middle;
}

.container {
  background: white;
  border: 1px solid black;
  max-width: 100%;
  max-height: 100%;
  display: flex;
  align-content: center;
  justify-content: center;
}

